// Fonts
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inconsolata&display=swap');
$font-family-header: "Dosis", monospace;
$font-family-body: "JetBrains Mono", monospace;
$font-family-mono: "Inconsolata", monospace;
$font-family-tt: "Inconsolata", monospace;
$font-size: 18px;
$line-height: 1.725;
$page-width: 48rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: "dark" // white dark light classic
