// by @sergodeeva (https://github.com/sergodeeva)
$color-background: #fff8e8;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
$color-border: #666;
$color-meta: #666;
$color-meta-code: lighten($color-meta, 10%);
$color-link: rgba(212, 128, 170, 1);
$color-text: #383838;
$color-accent-3: #8c8c8c;
$color-accent-2: #383838;
$color-accent-1: #d52941;
$color-quote: #2bbc8a;
/* CSS HEX */
// --burnt-sienna: #E57346ff;
// --pale-dogwood: #C6AA9Eff;
// --rosy-brown: #D39781ff;
// --razzmatazz: #DF3C6Fff;
// --violet: #7D1AFFff;
// --veronica: #9A17FFff;
//
// /* CSS HSL */
// --burnt-sienna: hsla(17, 75%, 59%, 1);
// --pale-dogwood: hsla(18, 26%, 70%, 1);
// --rosy-brown: hsla(16, 48%, 67%, 1);
// --razzmatazz: hsla(341, 72%, 55%, 1);
// --violet: hsla(266, 100%, 55%, 1);
// --veronica: hsla(274, 100%, 55%, 1);
//
// /* SCSS HEX */
// $burnt-sienna: #E57346ff;
// $pale-dogwood: #C6AA9Eff;
// $rosy-brown: #D39781ff;
// $razzmatazz: #DF3C6Fff;
// $violet: #7D1AFFff;
// $veronica: #9A17FFff;
//
// /* SCSS HSL */
// $burnt-sienna: hsla(17, 75%, 59%, 1);
// $pale-dogwood: hsla(18, 26%, 70%, 1);
// $rosy-brown: hsla(16, 48%, 67%, 1);
// $razzmatazz: hsla(341, 72%, 55%, 1);
// $violet: hsla(266, 100%, 55%, 1);
// $veronica: hsla(274, 100%, 55%, 1);
//
// /* SCSS RGB */
// $burnt-sienna: rgba(229, 115, 70, 1);
// $pale-dogwood: rgba(198, 170, 158, 1);
// $rosy-brown: rgba(211, 151, 129, 1);
// $razzmatazz: rgba(223, 60, 111, 1);
// $violet: rgba(125, 26, 255, 1);
// $veronica: rgba(154, 23, 255, 1);
//
// /* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #E57346ff, #C6AA9Eff, #D39781ff, #DF3C6Fff, #7D1AFFff, #9A17FFff);
// $gradient-right: linear-gradient(90deg, #E57346ff, #C6AA9Eff, #D39781ff, #DF3C6Fff, #7D1AFFff, #9A17FFff);
// $gradient-bottom: linear-gradient(180deg, #E57346ff, #C6AA9Eff, #D39781ff, #DF3C6Fff, #7D1AFFff, #9A17FFff);
// $gradient-left: linear-gradient(270deg, #E57346ff, #C6AA9Eff, #D39781ff, #DF3C6Fff, #7D1AFFff, #9A17FFff);
// $gradient-top-right: linear-gradient(45deg, #E57346ff, #C6AA9Eff, #D39781ff, #DF3C6Fff, #7D1AFFff, #9A17FFff);
// $gradient-bottom-right: linear-gradient(135deg, #E57346ff, #C6AA9Eff, #D39781ff, #DF3C6Fff, #7D1AFFff, #9A17FFff);
// $gradient-top-left: linear-gradient(225deg, #E57346ff, #C6AA9Eff, #D39781ff, #DF3C6Fff, #7D1AFFff, #9A17FFff);
// $gradient-bottom-left: linear-gradient(315deg, #E57346ff, #C6AA9Eff, #D39781ff, #DF3C6Fff, #7D1AFFff, #9A17FFff);
// $gradient-radial: radial-gradient(#E57346ff, #C6AA9Eff, #D39781ff, #DF3C6Fff, #7D1AFFff, #9A17FFff);
